<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ImageShare Community est un site communautaire de partage de photo, uploadez & partagez ! Choisissez de publier ou non vos images !">
    <meta name="author" content="Kayzore">
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <title>{% block title %}ImageShareCommu{% endblock %}</title>
    {% block bsFile %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="{{ asset('assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

        <!-- Custom styles -->
        <link href="{{ asset('assets/css/justified-nav.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/perso.css') }}" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    {% endblock %}
</head>
<body>
<div class="masthead">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Menu navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("isc_platform_homepage") }}">ImageShare<strong>Commu</strong></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <div class="container navbar-right">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary navbar-btn">Inscription</a>
                </div>
                <div class="container navbar-right">
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary navbar-btn navbar-right">Connexion</a>
                </div>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div>

{% block contentBody %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
