{% if app.request.get('_route') == 'isc_platform_homepage' %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal ','id': 'Upload_File', 'enctype': 'multipart/form-data', 'action': path('isc_platform_homepage_create_activite')}}) }}
{% elseif app.request.get('_route') == 'isc_platform_profil_membres' %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal ','id': 'Upload_File', 'enctype': 'multipart/form-data', 'action': path('isc_platform_profil_membres_create_activite', { 'username': app.request.get('username') }) }}) }}
{% endif %}
    {{ form_errors(form) }}
    {{ form_errors(form.textActivity) }}
    {{ form_errors(form.image.file) }}
    {{ form_errors(form.image.editFile) }}
    {% for message in app.session.flashbag.get('errorAddActivite') %}
        <div class="row">
            <div class="alert alert-danger"><strong>Erreur :</strong> {{ message }}</div>
        </div>
    {% endfor %}
    <div class="form-group">
        <input type="button" value="Ajouter une actualité" class="btn btn-primary pull-center" id="BTAddActu">
    </div>
    <div id="BlocAddActu" style="display:none;">
        <div class="form-group">
            {{ form_label(form.textActivity, "Texte : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            <div class="col-sm-9">
                {{ form_widget(form.textActivity, {'attr': {'class': 'form-control', 'style': 'max-width:100%;'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.image.file, "Image : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.image.file, {'attr': {'accept': 'image/*'}}) }}
            </div>
            <div id="previewImage" style="display:none;">
                <label class="col-sm-12 control-label" style="text-align: center;">Preview : </label>
                <div class="col-sm-12">
                    <img id="image" style="max-width: 80%;" />
                </div>
            </div>
        </div>
        <div class="form-group" id="editFile" style="display:none;">
            {{ form_widget(form.image.editFile) }}
            {{ form_label(form.image.editFile)}}
        </div>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
{{ form_end(form) }}
