<script type="text/javascript">
    $('.my_tooltip').tooltip({placement: "top", html: true});
    document.getElementById("isc_platformbundle_activite_textActivity").value = '';
    {{ include("ISCPlatformBundle::jsAjax.html.twig") }}
    function FormatResult (data) {
        if (data.loading) return data.username;
        var state = $(
                '<span>' + data.username + '</span>'
        );
        return state;
    }

    var $selectSearch = $(".selectSearch");
    $selectSearch.on("select2:select", function (e) {
        window.location.href = "profil/" + $(".selectSearch").select2('data')[0].username;
    });
    $(document).ready(function(){
        {{ include("ISCPlatformBundle::jsNotifications.html.twig") }}
        {{ include("ISCPlatformBundle::jsFonctionsGlobal.html.twig") }}
        {{ include("ISCPlatformBundle::jsLoadMoreActu.html.twig") }}

        $(".selectSearch").select2({
            ajax: {
                url: "{{ path("isc_platform_search") }}",
                dataType: "json",
                type: "GET",
                data: function (params) {
                    var queryParameters = {
                        term: params.term
                    };
                    return queryParameters;
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                id: item.id,
                                username: item.username
                            };
                        })
                    };
                }
            },
            minimumInputLength: 1,
            placeholder: "Rechercher un pseudo",
            allowClear: true,
            templateResult: FormatResult,
        });
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        $('.my_tooltip').tooltip({placement: "top", html: true})
    });
    document.getElementById("isc_platformbundle_activite_image_file").onchange = function () {
        jQuery("#previewImage").fadeIn("slow");
        jQuery("#editFile").fadeIn("slow");
        var reader = new FileReader();

        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("image").src = e.target.result;
        };

        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };
</script>