{# src/ISC/PlatformBundle/Resources/views/Profil/modifAvatar.html.twig #}

{% extends "::baseMembres.html.twig" %}

{% block title %}
    {{ parent() }} - Edition de mon image
{% endblock title %}

{% block bsFile %}
    {{ parent() }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
    <!-- Smartphone Touch Events -->
    <script type="text/javascript" src="{{ asset('assets/plugins/touchpunch/jquery.ui.touch-punch.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/event.swipe/jquery.event.move.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/event.swipe/jquery.event.swipe.js') }}"></script>
    <!-- General -->
    <script type="text/javascript" src="{{ asset('assets/plugins/respond/respond.min.js') }}"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
    <script type="text/javascript" src="{{ asset('assets/plugins/cookie/jquery.cookie.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/slimscroll/jquery.slimscroll.horizontal.min.js') }}"></script>
    <!-- Noty -->
    <script type="text/javascript" src="{{ asset('assets/plugins/noty/jquery.noty.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/noty/layouts/top.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/noty/themes/default.js') }}"></script>

    <!-- Forms -->
    <script type="text/javascript" src="{{ asset('assets/plugins/uniform/jquery.uniform.min.js') }}"></script> <!-- Styled radio and checkboxes -->
    <script type="text/javascript" src="{{ asset('assets/plugins/select2/select2.min.js') }}"></script> <!-- Styled select boxes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />

    <!-- DataTables -->
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables/jquery.dataTables.FR.min.js') }}"></script> <!-- Traduction FR by Kayzore -->
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables/tabletools/TableTools.min.js') }}"></script> <!-- optional -->
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables/colvis/ColVis.min.js') }}"></script> <!-- optional -->
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables/DT_bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/daterangepicker/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/blockui/jquery.blockUI.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/typeahead/typeahead.min.js') }}"></script> <!-- AutoComplete -->
    <script type="text/javascript" src="{{ asset('assets/plugins/autosize/jquery.autosize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/tagsinput/jquery.tagsinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/duallistbox/jquery.duallistbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap-inputmask/jquery.inputmask.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap-wysihtml5/wysihtml5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap-multiselect/bootstrap-multiselect.min.js') }}"></script>
{% endblock bsFile %}

{% block contentBody %}
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="row" id="loadModif" style="display:none;">
                <div class="alert alert-info"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> Enregistrement de l'image... Vous allez être redirigé vers l'accueil.</div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 center-block" style="text-align:center;">
                    <div class="thumbnail">
                        <p>Cliquez-sûr l'image pour la modifier</p>
                        <img id="edit-me" class="img-responsive" src="{{ urlImage }}" style="max-height:400px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Site footer -->
    <footer class="footer">
        {{ include("ISCPlatformBundle::footer.html.twig") }}
    </footer>
{% endblock contentBody %}

{% block javascripts %}
    {{ parent() }}
    <script data-path="{{ asset('assets/pixie') }}" src="{{ asset('assets/pixie/pixie-integrate.js') }}"></script>
    <script type="text/javascript">
        function FormatResult (data) {
            if (data.loading) return data.username;
            var state = $(
                    '<span>' + data.username + '</span>'
            );
            return state;
        };
        var idActu = '{{ idActu }}';
        var myPixie = Pixie.setOptions({
            replaceOriginal: true,
            onSave: function(data, img) {
                document.getElementById('loadModif').style.display = 'block';
                $.ajax({
                    type: 'POST',
                    url: '{{ path("isc_platform_homepage_pixie_actualite_save") }}',
                    data: { imgData: data, idActu: idActu },
                }).success(function(response) {
                    window.location.replace("{{ path("isc_platform_homepage") }}");
                });
            }
        });
        myPixie.enableInteractiveMode();

        $('#edit-me').on('click', function(e) {
            myPixie.open({
                url: e.target.src,
                image: e.target
            });
        });
        var $selectSearch = $(".selectSearch");
        $selectSearch.on("select2:select", function (e) {
            window.location.href = $(".selectSearch").select2('data')[0].username;
        });
        $(document).ready(function(){
            {{ include("ISCPlatformBundle::jsNotifications.html.twig") }}
            $('.dropdown').on('show.bs.dropdown', function(e){
                $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
            });
            $('.dropdown').on('hide.bs.dropdown', function(e){
                $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
            });
            $(".selectSearch").select2({
                ajax: {
                    url: "{{ path("isc_platform_search") }}",
                    dataType: "json",
                    type: "POST",
                    data: function (params) {
                        var queryParameters = {
                            term: params.term
                        }
                        return queryParameters;
                    },
                    processResults: function (data) {
                        return {

                            results: $.map(data, function (item) {
                                return {
                                    id: item.id,
                                    username: item.username,
                                };
                            })
                        };
                    }
                },
                minimumInputLength: 1,
                placeholder: "Rechercher un pseudo",
                allowClear: true,
                templateResult: FormatResult,
            });
        });
    </script>
{% endblock javascripts %}