<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 profilUserCouverture carousel slide" style="padding:0px;" id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div id="profilUserImage" class="profilUserImage thumbnail" style="padding:0px;">
        <!-- Photo Profil -->
        <img src="{{ userInformations[0].urlAvatar }}" alt="" class="img-responsive img-rounded">
                 <!--<span class="paramProfilUserImageUpload">
                    <a href="#avatarUserUpload" role="button" data-toggle="modal" rel="tooltip" data-original-title='Changer ma photo de profil'>
                        <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
                    </a>
                </span>-->
            <span class="paramProfilUserImage">
                <a href="#avatarUserUpload" role="button" data-toggle="modal" rel="tooltip" data-original-title='Modifier'>
                    <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                </a>
                    <!--<a href="{{ path("isc_platform_profil_pixie_avatar", { 'filename': userInformations[0].nameAvatar }) }}" role="button" data-toggle="modal" rel="tooltip" data-original-title='Modifier ma photo de profil'>
                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style=""></i>
                    </a>-->
            </span>
    </div>
    <!-- Modal Change Avatar-->
    <div id="avatarUserUpload" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modifier ma photo de profil</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align: center;">Avatar actuel</div>
                                <div class="panel-body">
                                    <img src="{{ userInformations[0].urlAvatar }}" alt="" class="img-responsive img-rounded">
                                    <p style="text-align: center;"><a href="{{ path("isc_platform_profil_pixie_avatar", { 'filename': userInformations[0].nameAvatar }) }}" class="btn btn-primary btn-sm" role="button" style="padding: 0px;">Editer l'avatar actuel</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align: center;">Changer mon avatar</div>
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Photo Couverture -->
    <div class="carousel-inner" role="listbox" id="profilUserCover" >
        {% if profilResult[0] is empty %}
            <div class="item active">
                <div class="carousel-page">
                    <img src="{{ asset('assets/images/smile-cover.jpg') }}" alt="Error Image" class="img-responsive" style="margin:0px auto;width:100%;">
                </div>
            </div>
        {% endif %}
        {% for myCover in profilResult[0] %}
            <div class="item {% if myCover.positionCover == 1 %}active{% endif %}">
                <div class="carousel-page">
                    <img src="{{ myCover.urlCover}}" alt="Error Image" class="img-responsive" style="margin:0px auto;width:100%;">
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

            <span class="paramProfilUserCouverture">
                <a href="{{ path("isc_platform_profil_gestion_cover") }}" role="button" data-toggle="modal" rel="tooltip" data-original-title='Gestion de la couverture'><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
            </span>
</div>