<script type="text/javascript">
    $('.my_tooltip').tooltip({placement: "top", html: true})
    function sendInviation(id){
        $.ajax({
            type: 'POST',
            url: '{{ path("isc_platform_homepage_send_invite_to_membre") }}',
            data: {id: id},
            success: function(retour){
                if(retour == 'Error Invit Already Send'){
                    document.getElementById("{{ userId }}").className += "btn btn-primary disabled";
                    document.getElementById("SuccessSendInvit").style.display = 'none';
                    document.getElementById("ErrorSendInvit").style.display = 'block';
                }
                else if(retour == 'success'){
                    document.getElementById("{{ userId }}").className += "btn btn-primary disabled";
                    document.getElementById("ErrorSendInvit").style.display = 'none';
                    document.getElementById("SuccessSendInvit").style.display = 'block';
                }
            }
        });
    }
    function AddLike(id){
        document.getElementById('loadLike' + id).style.display = 'block';
        $.ajax({
            type: 'POST',
            url: '{{ path("isc_platform_homepage_add_like_actu") }}',
            data: {id: id},
            success: function(retour){
                location.reload();
            }
        });
    }
    function DelLike(id){
        document.getElementById('loadLike' + id).style.display = 'block';
        $.ajax({
            type: 'POST',
            url: '{{ path("isc_platform_homepage_remove_like_actu") }}',
            data: {id: id},
            success: function(retour){
                location.reload();
            }
        });
    }
    function checkTypeActivity(){
        var idTypeActivite = document.getElementById("isc_platformbundle_activite_idTypeActivite");
        var activite = idTypeActivite.options[idTypeActivite.selectedIndex].value;
        if(activite == 1){
            jQuery("#inputAddTexteActivity").fadeIn("slow");
        }
        else if(activite == 2){
            jQuery("#inputAddTexteActivity").fadeOut("slow");
        }
    }
    function FormatResult (data) {
        if (data.loading) return data.username;
        var state = $(
                '<span>' + data.username + '</span>'
        );
        return state;
    };
    var $selectSearch = $(".selectSearch");
    $selectSearch.on("select2:select", function (e) {
        window.location.href =  $(".selectSearch").select2('data')[0].username;
    });
    $(document).ready(function(){
        {{ include("ISCPlatformBundle::jsNotifications.html.twig") }}
        $("[rel='tooltip']").tooltip();
        $('.dropdown').on('show.bs.dropdown', function(e){
            $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
        });
        $('.dropdown').on('hide.bs.dropdown', function(e){
            $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
        });
        $('#BTAddActu').on('click', function () {
            if(document.getElementById('BlocAddActu').style.display == 'none'){
                jQuery("#BlocAddActu").fadeIn("slow");
                console.log($('#isc_platformbundle_activite_textActivity').width());
            }
            else{
                jQuery("#BlocAddActu").fadeOut("slow");
            }
        });
        $(".selectSearch").select2({
            ajax: {
                url: "{{ path("isc_platform_search") }}",
                dataType: "json",
                type: "POST",
                data: function (params) {
                    var queryParameters = {
                        term: params.term
                    }
                    return queryParameters;
                },
                processResults: function (data) {
                    return {

                        results: $.map(data, function (item) {
                            return {
                                id: item.id,
                                username: item.username,
                            };
                        })
                    };
                }
            },
            minimumInputLength: 1,
            placeholder: "Rechercher un pseudo",
            allowClear: true,
            templateResult: FormatResult,
        });
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        $('.my_tooltip').tooltip({placement: "top", html: true})
    })
</script>