{% trans_default_domain 'FOSUserBundle' %}

<form class="navbar-form navbar-right form-inline" action="{{ path("fos_user_security_check") }}" method="post">
	<span style="color:red;">
		{% if error %}
	        {{ error.messageKey|trans(error.messageData, 'security') }}
	    {% endif %}
	</span>
	
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="form-group">
        <input class="form-control" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
	
    <div class="form-group">
        <input class="form-control" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />
    </div>
	<input class="btn btn-xs btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	<a href="{{ path('fos_user_registration_register') }}" class="navbar-link">Inscription</a>
</form>
